@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";*/
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
