<mat-card>
  <form ngNativeValidate #campaignForm="ngForm" (ngSubmit)="save(campaignForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{campaign.name ? 'Edit' : 'Add'}} Campaign</h2></mat-card-title>
    </mat-card-header>
    <p style="margin: 10px">Account balance: {{saldo}}</p>
    <mat-card>
      <input type="hidden" name="href" [(ngModel)]="campaign.href">
      <mat-form-field>
        <input matInput placeholder="Campaign name" [(ngModel)]="campaign.name"
               required name="name" #name>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="number" min=20 matInput placeholder="Bid amount (min. 20)" [(ngModel)]="campaign.bidAmount"
               required name="bidAmount" #bidAmount>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="number" max ={{saldo}} matInput placeholder="Campaign Fund" [(ngModel)]="campaign.campFund"
               required name="campFund" #campFund>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select placeholder="Town" [(ngModel)]="campaign.town" name="town" required>
          <mat-option *ngFor="let town of towns" [value]="town.value">
            {{town.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="number" matInput placeholder="Radius" [(ngModel)]="campaign.radius"
               required name="radius" #radius>
      </mat-form-field>
      <br>
      <mat-checkbox [(ngModel)]="campaign.status" matInput name="status" >Aktywna</mat-checkbox>
    </mat-card>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!campaignForm.form.valid">Save</button>
      <button mat-raised-button color="secondary" (click)="remove(campaign.href)"
              *ngIf="campaign.href" type="button">Delete</button>
      <a mat-button routerLink="/campaign-list">Cancel</a>
    </mat-card-actions>
  </form>
</mat-card>
