<mat-card>
  <mat-card-header>Campaign List</mat-card-header>
  <mat-card-content>
    <br><br>
    <mat-list>
      <mat-list-item *ngFor="let campaign of campaigns">
        <mat-icon mat-list-avatar>local_offer</mat-icon>
        <h3 mat-line>
          <a mat-button [routerLink]="['/campaign-edit', campaign.id]">{{campaign.name}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/campaign-add']">Add</button>
</mat-card>
